*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    font-family:Georgia, serif;

}

.background{
    position: fixed;
    inset: 0;

    background: url("images/white-flower.jpg") center center no-repeat;
    background-size: cover;

    z-index: -2;
}

.overlay{

    position:fixed;
    inset:0;

    background:
    rgba(255,255,255,.20);

}

.home{
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    width:100%;
    height:100vh;
}

.title{
    position:absolute;

    top:20%;

    left:50%;

    transform:translateX(-50%);

    width:min(90%,700px);

    text-align:center;

    z-index:20;
}

.subtitle{

    font-family:'Cormorant Garamond', serif;

    font-size: clamp(14px, 2vw, 22px);

    letter-spacing:4px;

    color:#221d1b;

    text-transform:uppercase;

    margin-bottom:8px;
}

.title h1{

    font-family:'Great Vibes', cursive;

    font-size: clamp(42px, 6vw, 60px);

    font-weight:400;

    color:#d86b95;

    line-height:1;
}

.title span{

    margin:0 12px;

    color:#b88a8a;

}

.envelope{

    width:clamp(300px,65vw,720px);

    height:auto;

    display:block;

    filter:
        drop-shadow(0 18px 35px rgba(0,0,0,.15))
        drop-shadow(0 0 30px rgba(255,220,230,.35));

}

.envelope-wrapper{
    position:relative;
    display:inline-block;

    animation: float 5s ease-in-out infinite;

    will-change:transform;
}

.seal{
    position: absolute;

    width: clamp(110px, 18vw, 200px);
    left: 50%;
    bottom: 36%;

    transform: translateX(-50%);

    z-index: 10;

    cursor: pointer;
}

.seal:hover{

    transform: translateX(-50%) scale(1.08);

}

.tap{

    font-family:'Cormorant Garamond', serif;

    position:absolute;

    bottom:clamp(80px,12vh,180px);

    color:#221d1b;

    font-size:clamp(14px,2vw,20px);

    letter-spacing:3px;

    text-transform:uppercase;

    animation:fade 2s infinite;

}


@keyframes float{

0%,100%{

transform:translateY(0px);

}

50%{

transform:translateY(-12px);

}

}


@keyframes fade{

0%,100%{

opacity:.4;

}

50%{

opacity:1;

}

}

@media (max-width:768px){

    .title{
        top:27%;
    }

    .title h1{
        font-size:42px;
    }

    .subtitle{
        font-size:14px;
        letter-spacing:2px;
    }

    .envelope{
        width:90vw;
    }

    .seal{
        width:110px;
        bottom:35%;
    }

    .tap{
        bottom:20%;
        font-size:14px;
        letter-spacing:2px;
    }

}

@media (min-width:769px) and (max-width:1024px){

    .title{
        top:18%;
    }

    .title h1{
        font-size:56px;
    }

    .subtitle{
        font-size:18px;
        letter-spacing:3px;
    }

    .envelope{
        width:78vw;
    }

    .seal{
        width:150px;
        bottom:35%;
    }

    .tap{
        font-size:16px;
        bottom:20%;
    }

}